{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>

    <style type="text/css">
      .top-bar {
        background-color: black;
        width: 100%;
        height: 45px;
        color: white;
        padding: 10px;
        padding-left: 20px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 3px;
      }
      .small-pic {
        height: 550px;
        width: 300px;
        margin: 3% auto;
      }
      #top {
        position: absolute;
        height: 30%;
        width: 20%;
        left: 40%;
        bottom: 75%;
      }
      #task_two {
        padding-top: 100px;
        height: 300px;
        width: 600px;
        background-color: black;
        margin: auto;
        text-align: center;
        size: 12px;
        color: white;
      }
      .new-small-pic {
        height: 550px;
        width: 300px;
      }
    </style>

</head>
<body>
    <div class="all">
      <!-- You may change the dimensions of this canvas -->
      <div id="task_two">Shake to remove</div>
      <div id="top"></div>
      <div class="small-pic"></div>
      <canvas id="myCanvas" width="1680px" height="1050px"></canvas>
    </div>
</body>
<script type="text/javascript" src="https://cdn.rawgit.com/alexgibson/shake.js/master/shake.js"></script>
<script>
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('ws://p4-panchamyadav-pancham506781.codeanyapp.com:8765/');
    var myPath = new paper.Path();
    var colors = ["rgb(255,0,0)", "rgb(0,255,0)", "rgb(0,0,255)", "rgb(40,120,40)", "rgb(0,120,150)", "rgb(120,40,40)"];
    var select = colors[Math.floor(Math.random() * colors.length)];
    var dict = {}
    //dict[select] = myPath;
    myPath.strokeColor = select;
    if (!url.includes("custom")) {
      $(".small-pic").remove();
      $("#top").remove();
      $("#task_two").hide();
      tool.onMouseMove = function(event) {
        myPath.add(event.point);
        socket.send(JSON.stringify([event.point, select]));
      }
      socket.onmessage = function(received) {
        var d = JSON.parse(received.data);
        var pt = new paper.Point(d[0][1], d[0][2]);
        var c = d[1];
        if (!(c in dict)) {
          dict[c] = new paper.Path();
        }
        if (url.includes("large")) {
          var thePath = dict[c];
          thePath.strokeColor = c;
          thePath.add(pt);
        }
      }
      if (url.includes("task_two")) {
        $("#task_two").show();
        $(".small-pic").remove();
        $("#top").remove();

         //listen to shake event
        var shakeEvent = new Shake({threshold: 15});
        shakeEvent.start();
        window.addEventListener('shake', function(){
          $("#task_two").hide();
          myPath.remove();
        }, false);
        //stop listening
        function stopShake(){
           shakeEvent.stop();
        }

       //Task 2 - changing the orientation changes color
       if (window.DeviceOrientationEvent) {
        window.addEventListener("deviceorientation", function(event) {
            var rotated = event.gamma;
            handleOrientationEvent(rotated);
          }, true);
        }
        var handleOrientationEvent = function(rotated) {
          if (rotated > 89) {
            // if (rotated > 3) seemed to work sometimes as well
            var change = colors[Math.floor(Math.random() * colors.length)];
            myPath.strokeColor = change;
            $("#task_two").css("background-color", change);
          }
        }
      }
    } else {
      $("#myCanvas").remove();
      $("#task_two").remove();
      $(function() {
        // this was for random colors --> $(".small-pic").css("background-color", select);
        var images = ["https://1.bp.blogspot.com/-JovZR9UflHY/VvyJDSp3dhI/AAAAAAAAGZI/-LmL3PgvZ_cIJtgnSPC2ViebPRpMS9Miw/s1600/Wolf%2BWallpaper%2BLG%2BG5.jpg",
                      "http://3.bp.blogspot.com/-E9PVHhelF5M/UgmHRpbVdlI/AAAAAAAAA7k/5QP-k4p1x4c/s1600/blue-dots_iP5.jpg",
                      "http://2.bp.blogspot.com/-EeweO5hpnV4/T5DUqKFPa5I/AAAAAAAAGWk/3pBlLSsAqBs/s1600/wallpaper+cell+phone.jpg",
                      "http://2.bp.blogspot.com/-_0MMnerQTb0/UNEEfnHyncI/AAAAAAAAA9E/rI0H_b3gNFs/s1600/lumia-620-wallpaper-wowwindows8_com_16.jpg",
                      "http://3.bp.blogspot.com/-49ppcHRcbzM/VfTnP1W4VcI/AAAAAAAACvg/GYxYFkOSg7o/s1600/watercolor-iphone-6-wallpaper-free-download-apple.png"];
        var oneimg = images[Math.floor(Math.random() * images.length)];
        $('.small-pic').prepend('<img id="theImg" src=' + oneimg + ' height=100% width=100% />');
        $(".small-pic").draggable({revert: "invalid"});
        $("#top").droppable({
          over: function(event, ui) {
            $(".small-pic").css("opacity", "0.6");
          },
          drop: function(event, ui) {
            $(".small-pic").hide();
            socket.send(JSON.stringify($('.small-pic').find('img').attr("src")));
          },
          out: function(event, ui) {
            $(".small-pic").css("opacity", "1");
          }
        });
        if (url.includes("large")) {
          $(".small-pic").hide();
          $("#top").hide();
          $(".all").append("<div class='top-bar'>MY PARTY | Jul 15</div>");
        }
      });
      socket.onmessage = function(received) {
        var d = received.data;
        if (url.includes("large")) {
          $(".all").append("<div class='new-small-pic' </div>");
          $(".new-small-pic:last-child").css("display", "inline-block");
          $(".new-small-pic:last-child").prepend('<img id="theImg" src=' + d + ' height=100% width=100% />');
          //$(".new-small-pic:last-child").css("background-color", d);
          $(".new-small-pic:last-child").css("margin", "5%");
        }
      }
    }

</script>
</html>